body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white, #fff);
}

:root {
  --cloud: #f4f4fd;
  --navyblue: #2e2f42;
  --white-color: #ffffff;
  --iris: #4d5ae5;
  --slate: #434455;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 156px;
  margin-right: 156px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Логотип */

.link {
  text-decoration: none;
  color: var(--navyblue);
}

.list {
  list-style: none;
}
.header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  border-bottom: 1px solid var(--cornflower);
}

.header-logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-span {
  color: var(--navyblue);
}

/* Менюшка */

.header-container {
  display: flex;
  align-items: center;
  gap: 332px;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.header-menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
}

.header-contacts {
  font-style: normal;
}
.header-contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.header-contacts-link {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean);
}

/* Головна частина */
.solutions {
  background-color: var(--navyblue);
}
.section {
  padding: 120px 120px;
}

/* Головний заголовок */
.main-container {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  gap: 48px;
  padding-top: 188px;
  padding-bottom: 292px;
  align-items: center;
}
.title-one {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background: #2e2f42;
  max-width: 496px;
}
.title-container {
  margin: 0 auto;
}

.order-button {
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}
.button-container {
  display: flex;
  padding: 16px 32px;
  gap: 10px;
  margin: 0 auto;
  margin-top: 48px;
}

.order-button:hover,
.order-button:focus {
  background: var(--ocean);
}
/* Друга частина */

.advantages-container {
  display: flex;
}
.advantages-list {
  display: flex;
  gap: 24px;
}

.title-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Третя частина */

.business-container {
}

.business-list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
}
.title-two {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Четверта частина */
.team {
  background-color: #f4f4fd;
}
.team-list {
  padding-top: 72px;
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
}
.team-container {
  gap: 32px;
  text-align: center;
}

/* Підвал */
.footer {
  background-color: var(--navyblue);
}
.footer-logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Портфолио */

.buttons-container {
  padding-top: 96px;
  padding-bottom: 72px;
}

.buttons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.select-button {
  color: var(--iris, #4d5ae5);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  padding: 12px 24px;
}

.select-button:hover,
.select-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.second-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

}

.work-examples {

}

.work-examples-list {
  display: flex;
  max-width: 100%;
  gap: 32px;
  flex-wrap: wrap;

}